{{!--
<div class="navbar-wrap"> --}}
  <div class="container">
    <div class="border-div">
      <div class="row">
        <div class="col-lg-3"><img src="../assets/diagnosemelogo.jpeg" class="img-fluid" alt="Diagnose Me" id="logo" /></div>
        <div class="col-md-6">
          <div class="nav">
            <div class="navbar-wrap">
              <ul class="nav navbar-right">
                <ul>
                  <li>Home</li>
                  <li>Resources</li>
                  <li>Info</li>
                </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="jumbotron">
        <form action="/" method="post">
          <div class="form-group zip-input">
            <label class="sr-only" for="">Zip Code</label>
            <p class="text">Zip Code:</p>
            <input type="text" name="zip" class="form-control" id="fZip" placeholder="Zip Code">
          </div>
          <div class="form-group zip-input">
            <label class="sr-only" for="">Symptom</label>
            <p class="text">Symptom:</p>
            <input type="text" name="symptom" class="form-control" id="fZip" placeholder="Symptom">
          </div>
          <div class="action-btn">
            <button id="aSubmit" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        </form>

        <div class="jumbotron">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Possible Diagnoses</h4>
            {{!-- mock info model of what the results display should look like --}}
            {{!-- <br>
            <p>-Acute bronchitis</p>
            <br>
            <p>also known as a chest cold, is short-term inflammation of the bronchi (large and medium-sized airways) of the lungs. Other symptoms include coughing up mucus, wheezing, shortness of breath, fever, and chest discomfort. The cough may persist for several weeks afterward with the total duration of symptoms usually around three weeks.</p>
            <br>
            <p>-Sinusitis</p>
            <br>
            <p>also known as a sinus infection or rhinosinusitis, is inflammation of the sinuses resulting in symptoms. Common signs and symptoms include thick nasal mucus, a plugged nose, and pain in the face. Other signs and symptoms may include fever, headaches, poor sense of smell, sore throat, and cough. The cough is often worse at night.</p>
            <br>
            <p>-Asthma</p>
            <br>
            <p>is a common long term inflammatory disease of the airways of the lungs.[3] It is characterized by variable and recurring symptoms, reversible airflow obstruction, and bronchospasm. Symptoms include episodes of wheezing, coughing, chest tightness, and shortness of breath.</p>
            <br>
            <p>**17 users have reported a search for cough in your area in the past week.**</p>
 --}}

          </div>

        </div>
        <div class="row">
          <div class="col-lg-3">
          <a href="https://draxe.com/top-10-high-antioxidant-foods/">
          <img src="../assets/homeopathicremedies.jpeg" class="img-fluid" alt="homeopathicremedies" id="logo" /><span class="float-fun">ANTIOXIDANTS</span>
          </a></div>
          <div class="col-lg-3">
          <a href="https://www.incrediblesmoothies.com/detox/how-to-make-a-detox-smoothie/">
          <img src="../assets/strawberries.jpeg" class="img-fluid" alt="strawberries" id="logo" /><span class="float-fun2">DETOX</span>
          </a></div>
        </div>
      </div>

    </div>
  </div>

  <div class="footer text-center">
    &copy;DiagnoseMe
  </div>

  