<div class="navbar-wrap">
  <div class="container">
  <div class ="jumbotron">

 <img src="../assets/diagnosemelogo.jpeg" alt="Diagnose Me" id="logo"/>

<div class="search-col-wrap col-md-6">
    <div class="locate-search-form-wrap">
      <!-- <div class="col-md-12"> -->
    <br>

<div id="info">
  <form action="/" method="POST">
    <div class="form-group zip-input">
          <label class="sr-only" for="">Zip Code</label>
          <p class="text">Zip Code:</p>
          <input type="text" class="form-control" id="fZip" placeholder="Zip Code">
        </div>
    <div class="form-group zip-input">
          <label class="sr-only" for="">Symptom</label>
          <p class="text">Symptom:</p>
          <input type="text" class="form-control" id="fZip" placeholder="Symptom">
        </div>
    <div class="action-btn">
            <button id="aSubmit" type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>
  
</div>






