@media (max-width: 767px) {
  .navbar-wrap {
    border-bottom: none;
 }
}
@media (max-width: 767px) {
  .navbar-wrap .container {
    padding: 0;
  }
}
@media screen (max-width: 500px;) {
.body-wrap
}
#container {
    margin: 30px auto;
    border: 1px solid red;
    height: 960px;
    width: 960px;    
}

#container > div {
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box; 
}

.hovered {
    background-color: black;
}

#logo {
  width: 50%;
  height: 200px;
  float: left;
}

.footer-logo {
  background-image: url("../public/assets/diagnosemelogo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}
.ul {
  font-weight: bold;
}
.border-div{
  border: 5px solid #333;
  border-radius: 2px;
  padding: 40px;
}